<div class="datepicker-container u-is-unselectable">
  <div class="input-group">
    <input type="text" class="datepicker-input form-control" [ngModel]="date.formatted" (ngModelChange)="inputChange($event)">
    <span _ngcontent-c2="" class="input-group-addon" (click)="toggle()"><span _ngcontent-c2="" class="glyphicon glyphicon-calendar"></span></span>
  </div>
  <div class="datepicker-calendar" *ngIf="opened">
    <div class="datepicker-calendar-top {{options.color}}">
      <span class="year-title">{{ currentDate.format('YYYY') }}</span>
      <button type="button" (click)="openYearPicker()" *ngIf="!yearPicker">
        {{options.selectYearText}}
      </button>
    </div>
    <div class="datepicker-calendar-container">
      <div *ngIf="!yearPicker">
        <div class="datepicker-calendar-month-section">
          <i (click)="prevMonth()" class="fill-{{options.color}}">
            <svg width="190px" height="306px" viewBox="58 0 190 306" version="1.1">
              <g id="keyboard-left-arrow-button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(58.000000, 0.000000)">
                <g id="chevron-left" fill-rule="nonzero" fill="#000000">
                  <polygon id="Shape" points="189.35 35.7 153.65 0 0.65 153 153.65 306 189.35 270.3 72.05 153"></polygon>
                </g>
              </g>
            </svg>
          </i>
          <span class="datepicker-calendar-month-title">{{ options.monthName[currentDate.month()] }}</span>
          <i (click)="nextMonth()" class="fill-{{options.color}}">
            <svg width="190px" height="306px" viewBox="58 0 190 306" version="1.1">
              <g id="keyboard-right-arrow-button" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(58.000000, 0.000000)">
                <g id="chevron-right" fill-rule="nonzero" fill="#000000">
                  <polygon id="Shape" points="36.35 0 0.65 35.7 117.95 153 0.65 270.3 36.35 306 189.35 153"></polygon>
                </g>
              </g>
            </svg>
          </i>
        </div>
        <div class="datepicker-calendar-day-names">
          <span>S</span>
          <span>M</span>
          <span>T</span>
          <span>W</span>
          <span>T</span>
          <span>F</span>
          <span>S</span>
        </div>
        <div class="datepicker-calendar-days-container">
          <span class="day" *ngFor="let d of days; let i = index"
                            (click)="selectDate($event, d.momentObj)"
                            [ngClass]="{ 'disabled': !d.enabled, 'today': d.today, 'selected': d.selected }"
                            [class.label-red]="options.color === 'red' && d.today"
                            [class.label-green]="options.color === 'green' && d.today"
                            [class.label-blue]="options.color === 'blue' && d.today"
                            [class.label-orange]="options.color === 'orange' && d.today"
                            [class.label-violet]="options.color === 'violet' && d.today"
                            [class.label-pink]="options.color === 'pink' && d.today"
                            [class.label-darkgreen]="options.color === 'darkgreen' && d.today"
                            [class.label-darkblue]="options.color === 'darkblue' && d.today"
                            [class.border-red]="options.color === 'red' && d.selected"
                            [class.border-green]="options.color === 'green' && d.selected"
                            [class.border-blue]="options.color === 'blue' && d.selected"
                            [class.border-orange]="options.color === 'orange' && d.selected"
                            [class.border-violet]="options.color === 'violet' && d.selected"
                            [class.border-pink]="options.color === 'pink' && d.selected"
                            [class.border-darkgreen]="options.color === 'darkgreen' && d.selected"
                            [class.border-darkblue]="options.color === 'darkblue' && d.selected">
            {{ d.day }}
          </span>
        </div>
        <div class="datepicker-buttons" *ngIf="!options.autoApply">
          <button type="button" class="a-button u-is-primary u-is-small button-{{options.color}}" (click)="today()">{{options.todayText}}</button>
        </div>
      </div>
      <div *ngIf="yearPicker">
        <div class="datepicker-calendar-years-container" slimScroll [options]="scrollOptions">
          <span class="year" *ngFor="let y of years; let i = index" (click)="selectYear($event, y)">
            {{ y }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
