$clr-primary-red: #be1e3c;
$clr-primary-green: #89a400;
$clr-primary-blue: #0080b4;
$clr-primary-orange: #fa6e00;
$clr-primary-violet: #760076;
$clr-primary-pink: #cc0099;
$clr-primary-darkgreen: #007156;
$clr-primary-darkblue: #005374;
$clr-background: #ddd;
$clr-background-main: #ffffff;

.red {
  background-color: $clr-primary-red;
}

.green {
  background-color: $clr-primary-green;
}

.blue {
  background-color: $clr-primary-blue;
}

.orange {
  background-color: $clr-primary-orange;
}

.violet {
  background-color: $clr-primary-violet;
}

.pink {
  background-color: $clr-primary-pink;
}

.darkgreen {
  background-color: $clr-primary-darkgreen;
}

.darkblue {
  background-color: $clr-primary-darkblue;
}

.border-red {
  background-color: $clr-primary-red;
}

.border-green {
  background-color: $clr-primary-green;
}

.border-blue {
  background-color: $clr-primary-blue;
}

.border-orange {
  background-color: $clr-primary-orange;
}

.border-violet {
  background-color: $clr-primary-violet;
}

.border-pink {
  background-color: $clr-primary-pink;
}

.border-darkgreen {
  background-color: $clr-primary-darkgreen;
}

.border-darkblue {
  background-color: $clr-primary-darkblue;
}

.label-red {
  color: $clr-primary-red;
}

.label-green {
  color: $clr-primary-green;
}

.label-blue {
  color: $clr-primary-blue;
}

.label-orange {
  color: $clr-primary-orange;
}

.label-violet {
  color: $clr-primary-violet;
}

.label-pink {
  color: $clr-primary-pink;
}

.label-darkgreen {
  color: $clr-primary-darkgreen;
}

.label-darkblue {
  color: $clr-primary-darkblue;
}

.button-red {
  background-color: $clr-primary-red;
  color: white;
}

.button-green {
  background-color: $clr-primary-green;
  color: white;
}

.button-blue {
  background-color: $clr-primary-blue;
  color: white;
}

.button-orange {
  background-color: $clr-primary-orange;
  color: white;
}

.button-violet {
  background-color: $clr-primary-violet;
  color: white;
}

.button-pink {
  background-color: $clr-primary-pink;
  color: white;
}

.button-darkgreen {
  background-color: $clr-primary-darkgreen;
  color: white;
}

.button-darkblue {
  background-color: $clr-primary-darkblue;
  color: white;
}

.fill-red {
  fill: $clr-primary-red;
}

.fill-green {
  fill: $clr-primary-green;
}

.fill-blue {
  fill: $clr-primary-blue;
}

.fill-orange {
  fill: $clr-primary-orange;
}

.fill-violet {
  fill: $clr-primary-violet;
}

.fill-pink {
  fill: $clr-primary-pink;
}

.fill-darkgreen {
  fill: $clr-primary-darkgreen;
}

.fill-darkblue {
  fill: $clr-primary-darkblue;
}
