$clr-primary-red: #be1e3c !important;
$clr-primary-green: #89a400 !important;
$clr-primary-blue: #0080b4 !important;
$clr-primary-orange: #fa6e00 !important;
$clr-primary-violet: #760076 !important;
$clr-primary-pink: #cc0099 !important;
$clr-primary-darkgreen: #007156 !important;
$clr-primary-darkblue: #005374 !important;
$clr-background: #ddd !important;
$clr-background-main: #ffffff !important;

.red {
  background-color: $clr-primary-red !important;
}

.green {
  background-color: $clr-primary-green !important;
}

.blue {
  background-color: $clr-primary-blue !important;
}

.orange {
  background-color: $clr-primary-orange !important;
}

.violet {
  background-color: $clr-primary-violet !important;
}

.pink {
  background-color: $clr-primary-pink !important;
}

.darkgreen {
  background-color: $clr-primary-darkgreen !important;
}

.darkblue {
  background-color: $clr-primary-darkblue !important;
}

.border-red {
  background-color: $clr-primary-red !important;
}

.border-green {
  background-color: $clr-primary-green !important;
}

.border-blue {
  background-color: $clr-primary-blue !important;
}

.border-orange {
  background-color: $clr-primary-orange !important;
}

.border-violet {
  background-color: $clr-primary-violet !important;
}

.border-pink {
  background-color: $clr-primary-pink !important;
}

.border-darkgreen {
  background-color: $clr-primary-darkgreen !important;
}

.border-darkblue {
  background-color: $clr-primary-darkblue !important;
}

.label-red {
  color: $clr-primary-red !important;
}

.label-green {
  color: $clr-primary-green !important;
}

.label-blue {
  color: $clr-primary-blue !important;
}

.label-orange {
  color: $clr-primary-orange !important;
}

.label-violet {
  color: $clr-primary-violet !important;
}

.label-pink {
  color: $clr-primary-pink !important;
}

.label-darkgreen {
  color: $clr-primary-darkgreen !important;
}

.label-darkblue {
  color: $clr-primary-darkblue !important;
}

.button-red {
  background-color: $clr-primary-red !important;
  color: white !important;
}

.button-green {
  background-color: $clr-primary-green !important;
  color: white !important;
}

.button-blue {
  background-color: $clr-primary-blue !important;
  color: white !important;
}

.button-orange {
  background-color: $clr-primary-orange !important;
  color: white !important;
}

.button-violet {
  background-color: $clr-primary-violet !important;
  color: white !important;
}

.button-pink {
  background-color: $clr-primary-pink !important;
  color: white !important;
}

.button-darkgreen {
  background-color: $clr-primary-darkgreen !important;
  color: white !important;
}

.button-darkblue {
  background-color: $clr-primary-darkblue !important;
  color: white !important;
}

.fill-red {
  fill: $clr-primary-red !important;
  svg {
    fill: $clr-primary-red !important;
    g {
      fill: $clr-primary-red !important;
      g {
        fill: $clr-primary-red !important;
      }
    }
  }
}

.fill-green {
  fill: $clr-primary-green !important;
  svg {
    fill: $clr-primary-green !important;
    g {
      fill: $clr-primary-green !important;
      g {
        fill: $clr-primary-green !important;
      }
    }
  }
}

.fill-blue {
  fill: $clr-primary-blue !important;
  svg {
    fill: $clr-primary-blue !important;
    g {
      fill: $clr-primary-blue !important;
      g {
        fill: $clr-primary-blue !important;
      }
    }
  }
}

.fill-orange {
  fill: $clr-primary-orange !important;
  svg {
    fill: $clr-primary-orange !important;
    g {
      fill: $clr-primary-orange !important;
      g {
        fill: $clr-primary-orange !important;
      }
    }
  }
}

.fill-violet {
  fill: $clr-primary-violet !important;
  svg {
    fill: $clr-primary-violet !important;
    g {
      fill: $clr-primary-violet !important;
      g {
        fill: $clr-primary-violet !important;
      }
    }
  }
}

.fill-pink {
  fill: $clr-primary-pink !important;
  svg {
    fill: $clr-primary-pink !important;
    g {
      fill: $clr-primary-pink !important;
      g {
        fill: $clr-primary-pink !important;
      }
    }
  }
}

.fill-darkgreen {
  fill: $clr-primary-darkgreen !important;
  svg {
    fill: $clr-primary-darkgreen !important;
    g {
      fill: $clr-primary-darkgreen !important;
      g {
        fill: $clr-primary-darkgreen !important;
      }
    }
  }
}

.fill-darkblue {
  fill: $clr-primary-darkblue !important;
  svg {
    fill: $clr-primary-darkblue !important;
    g {
      fill: $clr-primary-darkblue !important;
      g {
        fill: $clr-primary-darkblue !important;
      }
    }
  }
}
